.container {
  margin-block: 20px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.image {
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}
