.header {
  background-color: #3f50b4;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  position: relative;
  width: 40%;
  min-width: 250px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  outline: none;
}

.searchButton {
  position: absolute;
  right: 0;
  top: -2px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.searchButton:hover {
  color: white;
}
